{% extends 'base.html.twig' %}

{% block title %}Étapes de etiquette{% endblock %}

{% block body %}
    <h1>Étapes de etiquette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etiquette.id }}</td>
            </tr>
            <tr>
                <th>Intitulée</th>
                <td>{{ etiquette.intitule }}</td>
            </tr>
            <tr>
                <th>Recettes</th>
                {% for etiquette in etiquettes %}
                    <td>{{ etiquette.recettes }}</td>
                {% endfor %}
                
            </tr>
        </tbody>
    </table>

    <a href="{{ path('etiquette_index') }}">back to list</a>

    <a href="{{ path('etiquette_edit', {'id': etiquette.id}) }}">edit</a>

    {{ include('etiquette/_delete_form.html.twig') }}
{% endblock %}
