{% extends 'base.html.twig' %}

{% block title %}Categories index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3>Liste des catégories d'ingrédients</h3>
            </div>
            {% for category in categories %}
                 <div class="col-lg-4"> 
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.nom }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">ID : {{ category.id }}</h6>
                            <a href="{{ path('categories_show', {'id': category.id}) }}">Afficher</a>
                            <a href="{{ path('categories_edit', {'id': category.id}) }}">Modifier</a>
                        </div>
                    </div>
                 </div>
            {% else %}
                        
            {% endfor %}
            <div class="col-lg-12">
                <a href="{{ path('categories_new') }}">Ajouter une catégorie</a>
            </div>
                
    </div>
{% endblock %}
