{% extends 'base.html.twig' %}

{% block title %}Quantités{% endblock %}

{% block body %}
    <h1>Quantités</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quantite.id }}</td>
            </tr>
            <tr>
                <th>Texte étape</th>
                <td>{{ quantite.quantite }}</td>
            </tr>
            <tr>
                <th>Id recette</th>
                <td>{{ quantite.ingredient }}</td>
            </tr>
            <tr>
                <th>Numéro de l'étape</th>
                <td>{{ quantite.recette }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quantite_index') }}">back to list</a>

    <a href="{{ path('quantite_edit', {'id': quantite.id}) }}">edit</a>

    {{ include('quantite/_delete_form.html.twig') }}
{% endblock %}
