{% extends 'base.html.twig' %}

{% block title %}Étapes de préparation{% endblock %}

{% block body %}
    <h1>Étapes de préparation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ preparation.id }}</td>
            </tr>
            <tr>
                <th>Texte étape</th>
                <td>{{ preparation.etapeText }}</td>
            </tr>
            <tr>
                <th>Id recette</th>
                <td>{{ preparation.recette }}</td>
            </tr>
            <tr>
                <th>Numéro de l'étape</th>
                <td>{{ preparation.numEtape }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('preparation_index') }}">back to list</a>

    <a href="{{ path('preparation_edit', {'id': preparation.id}) }}">edit</a>

    {{ include('preparation/_delete_form.html.twig') }}
{% endblock %}
